language: node_js

node_js:
  - "10.13.0"

sudo: true

env:
  - CXX=g++-4.8 NODE_ENV=testing

services:
  - postgresql

before_script:
  - psql -c 'create database db_ts;' -U postgres
  - npm run migrations-test

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8